/* 
    Created on : Oct 20, 2019, 8:46:33 PM
    Author     : maxivity
*/
﻿@import url(fontiran.css); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد */
body {
    font-family: IRANSans !important;
    font-weight: 300;
    direction: rtl;
    background-color: #E2E2E2;
    margin: 0;
}
h1, h2, h3, h4, h5, h6,input, textarea {
    font-family: IRANSans !important;
}
h1 {
    font-weight: bold;
}
.wrapper {
    max-width: 900px;
    margin: 0 auto;
}
.ltr {
    direction: ltr;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-small {
    font-size: 0.8em;
}
.text-xsmall {
    font-size: 0.6em;
}
.text-large {
    font-size: 1.2em;
}
.text-xlarge {
    font-size: 1.4em;
}
.text-underline {
    text-decoration:underline;
}
.text-ultralight {
    font-weight: 200;
}
.text-light {
    font-weight: 300;
}
.text-regular {
    font-weight: normal;
}
.text-medium {
    font-weight: 500;
}
.text-bold {
    font-weight: bold;
}
.text-black {
    font-weight: 900;
}
blockquote {
    font-weight: 500;
    padding: 10px;
    border: 1px dashed #666666;
}

.mainbox {
    width: 100%;
    background-color: #EFEFEF;
    display: table;
    margin-bottom: 30px;
    border-right: 8px solid #FFFF33;
}

.mainboxnegativ {
    width: 100%;
    background-color: #000000;
    display: table;
    margin-bottom: 30px;
    border-right: 8px solid #FFFF33;
    color: #F9F9F9;
}

.mainbox2 {
    font-size: 1em;
    width: 90%;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainbox3 {
    width: 100%;
    background-color: #b8b8b8;
    display: table;
    margin-bottom: 30px;
    border-right: 8px solid #bd70ff;
}

.mainbox2negativ {
    font-size: 1em;
    color: #F9F9F9;
    background-color: #000000;
    padding-right: 20px;
}

.farsiparagraph {
    font-size: 1em;
    width: 47%;
    float:right;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.englishparagraph {
    font-size: 1em;
    width: 47%;
    float: left;
    direction:ltr;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;


}
.rightbox {
    width: 60%;
    padding-right: 20px;
    padding-left: 5px;
    float: right;
    margin-left: 10px;
    margin-bottom: 0px;
    min-width: 0px;
    background-color: #F7F7F7;

}

.titelbox {
    width: 60%;
    padding-right: 25px;
    padding-left: 0px;
    float: right;
    margin-left: 10px;
    margin-bottom: 0px;
    min-width: 0px;
    background-color: #F2F2F2;
    color: #4B4B4B;
}


.lefttbox {

    padding-right: 20px;
    padding-left: 4px;
    float: right;
    margin-bottom: 10px;
    min-width: 0px;
}

.alphabet {
    width: 35%;
    float: left;
    font-size: 21em;
    text-align: center;
    font-weight: 500;
    color: #999999;
}

.alphabet2 {
    width: 35%;
    float: left;
    direction: ltr;
    font-size: 1.6em;
    text-align: left;
    font-weight: 500;
    color: #333333;
    margin-top: 100px;
}
.footer {
    font-weight: 300;
    font-size: 0.7em;
    text-align: center;
    direction: ltr;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
*{
    font-family: IRANSans;
}
body{
    direction: rtl;
}

*{
    text-align: right;
}

.btn-outline-header:hover{
    box-shadow:0px -5px 0 0 #7ee9e1;
}
.top-header-container {
    background-color: #45cfbe;
    min-height: 48px;
}
.top-header-container * a{
    color: #FFF;
    min-height: 48px;
    transition: 0.3s all;
    padding: 13px;
}

.top-header-container * a:hover{
    background: #2cb1a0;
}
.header-nav * a{
    color: #16181b;
}
.header .nav-item{
    transition: 0.3s all;
}
.header .nav-item:hover{
    box-shadow:0px -5px 0 0 #7ee9e1;
}
.header .nav-item.active{
    box-shadow:0px -5px 0 0 #7ee9e1;
}
@media (min-width: 760px){
    .header-logo{
        padding: 40px 80px;
    }
}

@media (max-width: 760px){
    .header-logo{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.header{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3)
}
.bg-img-card{
    min-height: 272px;
    min-width: 100%;
    max-width: 100%;
    background-size: 100% 100% !important;
    background-position: center;
    transition: 0.5s all;
    display: flex;
    flex-direction: column; 
    align-content: center;
    align-items: center;
    justify-content: center;
}
.bg-img-card:hover{
    background-size: 110% 110% !important;
}
.bg-img-card a{
    text-decoration: none;
    border-bottom: 3px solid #16181b;
    color: #16181b;
    transition: 0.3s all;
}
.bg-img-card a:hover{
    color: #666666;
    border-bottom: 3px solid #666666;
}
.titleh{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.titleh:after {
    width: 108px;
    height: 15px;
    display: block;
    content: '';
    background: url(../images/title_o.png) no-repeat;
    background-size: cover;
}
.commodity-card{
    min-width: 100%;
    transition: 0.8s all;
    position: relative;
    background: white;
}
.commodity-card:hover .cdetail button{
    opacity: 1;
}
.commodity-card:hover{
    z-index: 100000;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
}
.commodity-card img{
    width: 100%;
}
.cdetail h2{
    font-size: 15px;
    font-weight: 500;
}
.cdetail button{
    opacity: 0;
    transition: 0.8s all;
}
.clist{
    position: relative;
}
.feature{
    font-size: 13px;
}
.feature h5{
    font-size: 15px;
}
.post-thumbnail{
    position: relative;
    width: 100%;
}
.post-thumbnail img{
    width: 100%;
}
.post-thumbnail .overlay{
    background: rgba(255,255,255,0.4);
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s all;
}
.post{
    text-align: center;
    transition: 0.5s all;
}
.post-thumbnail:hover .overlay,img{
    opacity: 1;
}
.post .category{
    color: rgb(0, 162, 142);
    text-align: center;
    margin-top: 10px;
    transition: 0.3s all;

}
.post .category:hover{
    color: #16181b;
    cursor: pointer;
}
.post h2{
    font-size: 20px;
    text-align: center;
    margin-top: 15px;
}
.post p{
    text-align: center;
    padding: 10px;
}
.post:hover{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.15);
}
@media (max-width: 768px){
    .cdetail button{
        opacity: 1;
    }
}


.JOINOURNEWSLETTER{
    background-color:#45cfbe;
}
.footer a,.text-footer, .meta-menu * a{
    text-decoration:none;
    color:#000000;
    font-size: 15px;
    line-height: 1.75;
    font-weight: 400;
}
.footer a:hover{
    color:#04edcf;
    transition: 0.3s all;
}
.meta-menu * a:hover{
    color:#04edcf !important;
    transition: 0.3s all;
}
ul{
    list-style: none;
}
.footer * li{

    padding: 5px 0px 5px 0px;
}




@media (min-width: 1024px){
    .meta-menu{
        min-width: 960px;
    }
}

@media (max-width: 1439px){
    .meta-menu{
        min-width: 600px;
    }
}

@media (max-width: 992px){
    .meta-menu{
        min-width: 600px;
    }
}

@media (max-width: 720px){
    .meta-menu{
        min-width: 600px;
    }
}
@media (max-width: 620px){
    .meta-menu{
        min-width: 300px;
    }
}

@media (max-width: 425px){
    .meta-menu{
        min-width: 100%;
        padding: 0;
    }
}




.meta-menu * ul{
    padding-right: 0;
}


/* FOOTER */
/*! CSS Used from: http://dici.themes.zone/main/wp-content/cache/autoptimize/8/css/autoptimize_3189c644b638ec496883548408cdbda4.css ;
 media=all */
@media all{
    .fa-cc-visa:before{
        content:"\f1f0";
    }
    .fa-cc-mastercard:before{
        content:"\f1f1";
    }
    .fa-cc-amex:before{
        content:"\f1f3";
    }
    .fa-cc-paypal:before{
        content:"\f1f4";
    }

    .site-footer{
        font-size:12.36px;
    }
    .site-footer .site-info a{
        text-decoration:none;
        text-align:center;
        transition:color .4s cubic-bezier(.455,.03,.515,.955);
    }
    .site-footer .site-info a:hover{
        color:#00d1b7;
    }
    .site-footer .menu{
        list-style:none;
        padding:0;
        margin:0;
    }
    .site-footer .menu li{
        display:inline-block;
    }
    .site-footer .menu li a{
        text-decoration:none;
        transition:color .4s cubic-bezier(.455,.03,.515,.955);
    }
    .site-footer .menu li a:hover{
        color:#00d1b7;
    }
    @media screen and (max-width:767px){
        .site-footer .menu{
            text-align:center;
        }
    }
    .site-footer .menu:not(#social-menu) li:after{
        display:inline-block;
        margin:0 7px -1px 9px;
        content:'';
        background-color:#000;
        width:1px;
        height:.8em;
    }
    .site-footer .menu:not(#social-menu) li:last-child:after{
        display:none;
    }
    @media screen and (max-width:767px){
        .site-footer .menu:not(#social-menu) li:after{
            display:none;
        }
    }
    .site-footer .menu#social-menu li{
        position:relative;
        margin:0 10px 0;
    }
    .site-footer .menu#social-menu li a{
        display:inline-block;
        position:relative;
        width:32px;
        height:inherit;
        font-size:2rem;
    }
    .site-footer div:nth-child(2){
        text-align:center;
    }
    .site-footer div:nth-child(3){
        text-align:right;
    }
    .site-footer:after{
        clear:both;
    }
    .site-footer{
        border-top:1px solid #e1e1e1;
    }
    .site-footer .site-footer-inner{
        display:grid;
        padding-top:32px;
        padding-bottom:32px;
        grid-template-columns:1fr;
        grid-gap:30px;
    }
    .site-footer .site-footer-inner:first-child:last-child .site-info{
        text-align:center;
    }
    @media screen and (min-width:1024px){
        .site-footer .site-footer-inner{
            margin-left:30px;
            margin-right:30px;
            max-width:1200px;
        }
    }
    @media screen and (min-width:1024px) and (min-width:1400px){
        .site-footer .site-footer-inner{
            margin-left:auto!important;
            margin-right:auto!important;
        }
    }
    @media screen and (max-width:767px){
        .site-footer .site-footer-inner{
            padding:1em 2em;
        }
    }
    @media screen and (min-width:1024px){
        .site-footer .site-footer-inner{
            grid-template-columns:repeat(auto-fit,minmax(calc(25% - 15px),1fr));
        }
    }
    .site-footer{
        border-top:1px solid #e1e1e1;
    }
    .site-footer .site-footer-inner{
        display:grid;
        padding-top:32px;
        padding-bottom:32px;
        grid-template-columns:1fr;
        grid-gap:30px;
    }
    .site-footer .site-footer-inner:first-child:last-child .site-info{
        text-align:center;
    }
    @media screen and (min-width:1024px){
        .site-footer .site-footer-inner{
            margin-left:30px;
            margin-right:30px;
            max-width:1200px;
        }
    }
    @media screen and (min-width:1024px) and (min-width:1400px){
        .site-footer .site-footer-inner{
            margin-left:auto!important;
            margin-right:auto!important;
        }
    }
    @media screen and (max-width:767px){
        .site-footer .site-footer-inner{
            padding:1em 2em;
        }
    }
    @media screen and (min-width:1024px){
        .site-footer .site-footer-inner{
            grid-template-columns:repeat(auto-fit,minmax(calc(25% - 15px),1fr));
        }
    }
    .fab{
        -moz-osx-font-smoothing:grayscale;
        -webkit-font-smoothing:antialiased;
        display:inline-block;
        font-style:normal;
        font-variant:normal;
        text-rendering:auto;
        line-height:1;
    }
    .fa-cc-amex:before{
        content:"\f1f3";
    }
    .fa-cc-mastercard:before{
        content:"\f1f1";
    }
    .fa-cc-paypal:before{
        content:"\f1f4";
    }
    .fa-cc-visa:before{
        content:"\f1f0";
    }
    .fab{
        font-family:"Font Awesome 5 Brands";
    }
}
/*! CSS Used from: Embedded */
a{
    color:#000000;
}
a:hover{
    color:#7e7e7e;
}
.site-footer .menu li a,.site-info,.site-info a{
    font-size:13px;
    font-weight:400;
    line-height:1.5;
    text-align:left;
    color:#434343;
}
/*! CSS Used fontfaces */
@font-face{
    font-family:"Font Awesome 5 Brands";
    font-style:normal;
    font-weight:normal;
    font-display:auto;
    src:url(//dici.themes.zone/main/wp-content/themes/dici/assets/css/../webfonts/fa-brands-400.eot);
    src:url(//dici.themes.zone/main/wp-content/themes/dici/assets/css/../webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(//dici.themes.zone/main/wp-content/themes/dici/assets/css/../webfonts/fa-brands-400.woff2) format("woff2"),url(//dici.themes.zone/main/wp-content/themes/dici/assets/css/../webfonts/fa-brands-400.woff) format("woff"),url(//dici.themes.zone/main/wp-content/themes/dici/assets/css/../webfonts/fa-brands-400.ttf) format("truetype"),url(//dici.themes.zone/main/wp-content/themes/dici/assets/css/../webfonts/fa-brands-400.svg#fontawesome) format("svg");
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:100;
    src:local('Poppins Thin Italic'), local('Poppins-ThinItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiAyp8kv8JHgFVrJJLmE0tDMPKzSQ.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:100;
    src:local('Poppins Thin Italic'), local('Poppins-ThinItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiAyp8kv8JHgFVrJJLmE0tMMPKzSQ.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:100;
    src:local('Poppins Thin Italic'), local('Poppins-ThinItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiAyp8kv8JHgFVrJJLmE0tCMPI.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:200;
    src:local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmv1pVFteOcEg.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:200;
    src:local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmv1pVGdeOcEg.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:200;
    src:local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmv1pVF9eO.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:300;
    src:local('Poppins Light Italic'), local('Poppins-LightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm21lVFteOcEg.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:300;
    src:local('Poppins Light Italic'), local('Poppins-LightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm21lVGdeOcEg.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:300;
    src:local('Poppins Light Italic'), local('Poppins-LightItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm21lVF9eO.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:400;
    src:local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucXtAKPY.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:400;
    src:local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLufntAKPY.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:400;
    src:local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrJJLucHtA.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:500;
    src:local('Poppins Medium Italic'), local('Poppins-MediumItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVFteOcEg.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:500;
    src:local('Poppins Medium Italic'), local('Poppins-MediumItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVGdeOcEg.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:500;
    src:local('Poppins Medium Italic'), local('Poppins-MediumItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmg1hVF9eO.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:600;
    src:local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VFteOcEg.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:600;
    src:local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VGdeOcEg.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:600;
    src:local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmr19VF9eO.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:700;
    src:local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VFteOcEg.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:700;
    src:local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VGdeOcEg.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:700;
    src:local('Poppins Bold Italic'), local('Poppins-BoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLmy15VF9eO.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:800;
    src:local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm111VFteOcEg.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:800;
    src:local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm111VGdeOcEg.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:800;
    src:local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm111VF9eO.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:900;
    src:local('Poppins Black Italic'), local('Poppins-BlackItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm81xVFteOcEg.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:900;
    src:local('Poppins Black Italic'), local('Poppins-BlackItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm81xVGdeOcEg.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:italic;
    font-weight:900;
    src:local('Poppins Black Italic'), local('Poppins-BlackItalic'), url(https://fonts.gstatic.com/s/poppins/v9/pxiDyp8kv8JHgFVrJJLm81xVF9eO.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:100;
    src:local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTucXtAKPY.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:100;
    src:local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTufntAKPY.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:100;
    src:local('Poppins Thin'), local('Poppins-Thin'), url(https://fonts.gstatic.com/s/poppins/v9/pxiGyp8kv8JHgFVrLPTucHtA.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:200;
    src:local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLFj_Z11lFc-K.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:200;
    src:local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLFj_Z1JlFc-K.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:200;
    src:local('Poppins ExtraLight'), local('Poppins-ExtraLight'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLFj_Z1xlFQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:300;
    src:local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z11lFc-K.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:300;
    src:local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1JlFc-K.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:300;
    src:local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDz8Z1xlFQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:400;
    src:local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJbecmNE.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:400;
    src:local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJnecmNE.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:400;
    src:local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v9/pxiEyp8kv8JHgFVrJJfecg.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:500;
    src:local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:500;
    src:local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:500;
    src:local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:600;
    src:local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z11lFc-K.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:600;
    src:local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1JlFc-K.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:600;
    src:local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLEj6Z1xlFQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:700;
    src:local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z11lFc-K.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:700;
    src:local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1JlFc-K.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:700;
    src:local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLCz7Z1xlFQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:800;
    src:local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDD4Z11lFc-K.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:800;
    src:local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDD4Z1JlFc-K.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:800;
    src:local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLDD4Z1xlFQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:900;
    src:local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5Z11lFc-K.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:900;
    src:local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5Z1JlFc-K.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:900;
    src:local('Poppins Black'), local('Poppins-Black'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLBT5Z1xlFQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face{
    font-display:swap;
    font-family:'Poppins';
    font-style:normal;
    font-weight:400;
    src:local('Poppins Regular'), local('Poppins-Regular'), url(//dici.themes.zone/main/wp-content/uploads/sites/8/2019/10/pxiEyp8kv8JHgFVrFJM.woff) format('woff');
}
@font-face{
    font-display:swap;
    font-family:'Poppins';
    font-style:normal;
    font-weight:500;
    src:local('Poppins Medium'), local('Poppins-Medium'), url(//dici.themes.zone/main/wp-content/uploads/sites/8/2019/10/pxiByp8kv8JHgFVrLGT9V1g.woff) format('woff');
}
@font-face{
    font-display:swap;
    font-family:'Poppins';
    font-style:normal;
    font-weight:600;
    src:local('Poppins SemiBold'), local('Poppins-SemiBold'), url(//dici.themes.zone/main/wp-content/uploads/sites/8/2019/10/pxiByp8kv8JHgFVrLEj6V1g.woff) format('woff');
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:500;
    src:local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z11lFc-K.woff2) format('woff2');
    unicode-range:U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:500;
    src:local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1JlFc-K.woff2) format('woff2');
    unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
    font-family:'Poppins';
    font-style:normal;
    font-weight:500;
    src:local('Poppins Medium'), local('Poppins-Medium'), url(https://fonts.gstatic.com/s/poppins/v9/pxiByp8kv8JHgFVrLGT9Z1xlFQ.woff2) format('woff2');
    unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}