/* 
    Created on : Oct 20, 2019, 8:46:33 PM
    Author     : maxivity
*/

body{
    direction: rtl;
}

*{
    text-align: right;
}

.btn-outline-header:hover{
    box-shadow:0px -5px 0 0 #7ee9e1;
}
.top-header-container {
    background-color: #45cfbe;
    min-height: 48px;
}
.top-header-container * a{
    color: #FFF;
    min-height: 48px;
    transition: 0.3s all;
    padding: 13px;
}

.top-header-container * a:hover{
    background: #2cb1a0;
}
.header-nav * a{
    color: #16181b;
}
.header .nav-item{
    transition: 0.3s all;
}
.header .nav-item:hover{
    box-shadow:0px -5px 0 0 #7ee9e1;
}
.header .nav-item.active{
    box-shadow:0px -5px 0 0 #7ee9e1;
}
@media (min-width: 760px){
    .header-logo{
        padding: 40px 80px;
    }
}

@media (max-width: 760px){
    .header-logo{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
.header{
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3)
}